@use 'variables';

* {
    font-family: variables.$main-font;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
}

.primary-color {
    color: variables.$primary-color;
}

.title {
    font-family: variables.$display-font;
    font-size: variables.$title-font-size;
}

.medium-title {
    font-size: variables.$medium-font-size;
}

.huge-title {
    font-family: variables.$display-font;
    font-size: variables.$large-title-font-size;
}

.shiny-title {
    font-family: variables.$main-font;
    background: variables.$darker-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}

.center-title {
    text-align: center;
}

.center-margins {
    display: block;
    margin: auto;
}

.page-content {
    padding-top: 82px;
}

.page-section {
    margin: auto;
    margin-bottom: 40px;
    padding: 30px;
    max-width: 1000px;
}

*::-webkit-scrollbar {
    display: none;
}
  