@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$primary-color: rgb(15, 45, 109);

* {
    font-family: 'Work Sans';
}

body {
    margin: 0;

    background-image: url("/images/doggobwtile.jpg");
    background-repeat: space;
    background-size: 60px;
}

.primary-color {
    color: $primary-color;
}

.title {
    font-family: 'Abril Fatface';
}

.huge-title {
    font-family: 'Abril Fatface';
    font-size: 4.0em;
}

.page-content {
    padding-top: 82px;
}