.main-content {

}

.main-bg {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(30%);
}

.main-area-flex {
    display: flex;
    margin: auto;
    padding: 0 20px;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;

    animation: fadeUpIn 3s;

    @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }
}


.info {
    filter: drop-shadow(10px 10px 10px rgba(10, 10, 10, 0.8));
}

#home-logo-wrapper {
    padding: 10px;
}

#home-logo {
    max-width: 400px;
    padding: 10px;
    filter: drop-shadow(20px 20px 20px rgba(10, 10, 10, 0.4));

    @media only screen and (max-width: 768px) {
        width: 220px;
    }
}

.map-link-section {
    position: relative;
    margin: 0;
    padding: 0;
}

.map-link-background {
    max-width: 1100px;
    width: 100%;
    display: block;
    z-index: 1;
    margin: auto;
    padding: 0;
    filter: brightness(70%);
}

.map-link-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.map-link-title {
    margin: auto;
    padding: 20px;
    z-index: 2;
    color: white;
    font-size: 2.2em;
    text-align: center;
}

.map-link-button {
    z-index: 2;
    text-align: center;
    margin: auto;
    display: block;
    max-width: 110px;
}



.index-section {
    padding: 10px;
    margin: 0;

    h1 {
        margin: 10px;
    }

    .huge-title {
        margin: 25px;
        font-size: 4.0em;
        color: rgb(15, 45, 109);

        @media only screen and (max-width: 768px) {
            margin: 10px;
            font-size: 2.0em;
        }
    }
}

.index-double-section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    // width: 100vw;

    @media only screen and (max-width: 768px) {
        display: block;
    }
}

#discord-section {
    margin: 0;
    padding: 40px;
    background-color: #23272A;
    flex: 1;

    @media only screen and (max-width: 768px) {
        padding: 20px;
    }
}

#insta-section {
    margin: 0;
    padding: 40px;
    background-color: rgb(231, 231, 231);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    flex: 1;

    @media only screen and (max-width: 768px) {
        padding: 20px;
    }
}

#discord-logo {
    max-width: 380px;
    width: 80%;
    margin: auto;
    padding: 20px;
    display: block;
}

#insta-logo {
    max-width: 80px;
    width: 60%;
    margin: auto;
    padding: 20px;
    display: block;
    filter: invert(1);
}

#discord-desc {
    padding: 20px;
    color: #5865F2;
    text-align: center;
    font-weight: bold;
}

#insta-desc {
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.discord-button {
    display: block;
    width: 140px;
    text-align: center;
    background-color: #5865F2;
    color: white;
    border-color: #5865F2;
    margin: auto;
}

.insta-button {
    display: block;
    width: 160px;
    text-align: center;
    background-color: black;
    color: white;
    border-color: black;
    margin: auto;
}

.discord-button:hover {
    background-color: black;
    color: #5865F2;
    border-color: black;
}

.insta-button:hover {
    background-color: white;
    color: black;
    border-color: black;
}

// Animations

@keyframes fadeUpIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}