.main-area-flex {
    display: flex;
    margin: auto;
    padding: 20px;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
    // background-color: rgb(255, 244, 233);

    animation: fadeUpIn 3s;

    @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

#home-logo-wrapper {
    padding: 10px;
}

#home-logo {
    max-width: 400px;
    padding: 10px;
    filter: drop-shadow(20px 20px 20px rgba(17, 17, 121, 0.4));

    @media only screen and (max-width: 768px) {
        width: 220px;
    }
}

.map-link-section {
    position: relative;
    margin: 0;
    padding: 0;
}

.map-link-background {
    max-width: 1100px;
    width: 100%;
    display: block;
    z-index: 1;
    margin: auto;
    padding: 0;
    filter: brightness(70%);
}

.map-link-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.map-link-title {
    margin: auto;
    padding: 20px;
    z-index: 2;
    color: white;
    font-size: 2.2em;
    text-align: center;
}

.map-link-button {
    z-index: 2;
    text-align: center;
    margin: auto;
    display: block;
    max-width: 110px;
}

// Animations

@keyframes fadeUpIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}