#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.page-content {

}

.map-sidebar-wrapper {
  display: block;
}

.page-map {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 30%;
  max-width: 360px;
  height: 80vh;
  position: absolute;
  left: 20px;
  top: 12vh;
  border-radius: 20px;

  backdrop-filter: blur(7px);
  
  background-color: rgba(30,30,30, 0.7);

  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.search-bar {
  position: sticky;
  top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: white 1px solid;
  z-index: 100;
}

.societies-list {
  
}

.society-wrapper {
  background-color: rgb(131, 48, 113);
  color: white;
  margin: 10px auto;
  padding: 10px;
  border-radius: 30px;
  display: block;
  width: 80%;
  min-height: 150px;
  max-width: 400px;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.society-wrapper:first-child {
  margin-top: 80px;
}

.society-wrapper:hover {
  margin: 20px auto;
  transform: scale(1.08);
}

.society-wrapper:hover:first-child {
  margin-top: 80px;
  transform: scale(1.08);
}

.social-icon-society-wrapper {
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

.social-icon-society {
  width: 35px;
  height: 35px;
  padding: 5px;
  transition: filter 0.2s;
}

.social-icon-society:hover {
  filter: brightness(85%)
}

.invert-icon {
  filter: invert(1);
}

.society-title {
  margin: 2px;
}