@use 'variables';

.hide {
  display: none;
}

.loader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.scavenger-hunt-title {
  display: block;
  margin: 40px auto;
  font-size: 2.7em;
}

#centered-content {
  max-width: 700px;
  width: 90%;
  display: block;
  margin: 20px auto;
}

/*
  Hint Top Indicator
*/

#indicator-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.indicator {
  height: 20px;
  width: 20px;
  background-color: none;
  border: 2px solid variables.$iups-brown;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.current-indicator {
  background-color: variables.$iups-brown;
}

.completed-indicator {
  background-color: rgb(64, 135, 25);
  border: 2px solid rgb(64, 135, 25);
}


#hint-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 10px 40px rgba(20, 20, 20, 0.2);
}

#hint-title {
  text-align: center;
  display: block;
  margin: auto;
  color: variables.$iups-brown;
}

#hint-text {
  font-size: 1.2em;
  color: variables.$iups-brown;
  text-align: center;
}

#hint-input {
  padding: 14px;
  border: 2px solid variables.$iups-brown;
  border-radius: 7px;
  display: block;

  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  &.error
  {
    animation: shake 0.2s ease-in-out 0s 2;
    -webkit-animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em red;
  }

  &.noError
  {
    animation: none;
  }
}

#hint-input:focus {
  border: 2px solid rgb(44, 134, 150);
  box-shadow: 0 0 0.5em rgb(44, 134, 150);
  outline: none;
}

#hint-button {
  margin-top: 20px;
  padding: 8px;
  background-color: variables.$iups-brown;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  width: 140px;
  text-align: center;
  display: block;
  margin: 20px auto;
}

#hint-button:active {
  background-color: black;
}

#update-message {
  margin: 20px;
  text-align: center;
}

.error-message {
  font-size: 1.4em;
  font-weight: bold;
  color: red;
}

.winner-info {
  text-align: center;
}

.discord-checkbox-label {
  margin: 10px auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.discord-checkbox {
  margin: 10px;
  width: 20px;
  height: 20px;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

@-webkit-keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}