@use '../styles/variables';

$container-width: 400px;
$container-height: 250px;

$mobile-container-width: 250px;
$mobile-container-height: 156px;

.event-container {
    margin: 20px;

    height: $container-height;
    width: $container-width;

    background-color: black;

    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    cursor: pointer;

    transition: transform 0.3s;

    @media only screen and (max-width: variables.$standard-mobile-max-width) {
        height: $mobile-container-height;
        width: $mobile-container-width;
    }
}

.event-container:hover {
    transform: scale(105%);

    @media only screen and (max-width: variables.$standard-mobile-max-width) {
        transform: scale(100%);
    }
}

.event-container-background {
    background: variables.$darker-gradient;
}

.event-title {
    color: white;
    font-size: 1.8em;

    @media only screen and (max-width: variables.$standard-mobile-max-width) {
        font-size: 1.2em;
    }
}

.event-image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 25px;
}