@use '../styles/variables';

$container-width: 400px;
$container-height: 250px;

.event-container {
    margin: 20px;

    height: $container-height;
    width: $container-width;

    background-color: black;

    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    // filter: drop-shadow(5px 5px 5px rgba(10, 10, 10, 0.2));
    // -webkit-filter: drop-shadow(5px 5px 5px rgba(10, 10, 10, 0.2));

    cursor: pointer;

    transition: transform 0.3s;
}

.event-container:hover {
    transform: scale(105%);

    @media only screen and (max-width: variables.$standard-mobile-max-width) {
        transform: scale(100%);
    }
}

.event-container-background {
    background: variables.$darker-gradient;
}

.event-title {
    color: white;
    font-size: 1.8em;
}

.event-image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 25px;
}