@use '../styles/variables';

.footer {
  margin: 0px;
  padding: 10px;
  background-color: variables.$iups-yellow;
  color: variables.$iups-brown;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > p {
  margin: 0;
}