@use '../styles/variables';

.footer {
  margin: 0px;
  padding: 10px;
  background-color: variables.$iups-yellow;
  color: variables.$iups-brown;
  font-weight: bold;
}

.paragraph {
  margin: 0px;
  display: block;
  text-align: center;
}