@use '../styles/variables';

$headerHeight: 82px;

$headerLogoHeight: 70px;

$compactNavButtonWidth: 100px;
$compactNavButtonHeight: 40px;

.header, .open-header {
    margin: 0;
    min-height: $headerHeight;
    width: 100vw;
    background-color: variables.$iups-yellow-transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

#main-logo, #main-logo-open-nav {
    padding: 0;
    height: $headerLogoHeight;
    position: absolute;
    top: calc(($headerHeight - $headerLogoHeight) / 2);;
    margin: auto;
    transition: filter 0.2s;
}

#main-logo:hover, #main-logo-open-nav:hover {
    filter: brightness(80%);
}

.title {
    color: white;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    padding: 10px;
    color: variables.$iups-brown;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.nav-item:hover {
    color: white;
    background-color: variables.$iups-brown;
}

.active-nav-item {
    color: white;
    background-color: variables.$iups-brown;
}

.nav-icon {
    display: none;
    cursor: pointer;
}

.compact-nav-menu-button {
    display: none;
}

@media only screen and (max-width: 950px) {
    .compact-nav-menu-button {
        color: white;
        background-color: variables.$iups-brown;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    
        width: $compactNavButtonWidth;
        height: $compactNavButtonHeight;
    
        position: absolute;
        right: 15px;
        top: calc(($headerHeight - $compactNavButtonHeight) / 2);

        cursor: pointer;

        a {
            -webkit-user-select: none;      
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    .open-header {
        object-fit: cover;
        width: 100%;
        height: 100%;

        margin: 0;
        min-height: 10vh;
        width: 100vw;

        background-color: variables.$iups-yellow-transparent;
        backdrop-filter: blur(10px);

        display: block;
        align-items: center;
        justify-content: space-around;

        position: fixed;
        top: 0;
        left: 0;
        
        z-index: 10000;
    }

    #main-logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);

        @media only screen and (max-width: variables.$small-mobile-max-width) {
            left: 30px;
            transform: translate(0, 0);
        }
    }

    #main-logo-wrapper {
        padding: 10px;
    }

    .nav-list {
        margin: auto;
        width: auto;
        display: block;
        list-style-type: none;
        text-align: center;
        overflow: auto;
        max-width: 200px;
        padding: 0;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-item {
        margin: 10px;
        display: block;
        width: auto;
        max-width: 200px;
        font-size: 1.2em;
    }

    .nav-item:hover:not(.active-nav-item) {
        color: variables.$iups-brown;
        background-color: transparent;
    }
    
    .active-nav-item {
        color: white;
        background-color: variables.$iups-brown;
    }

    .open-nav {
        padding: 20px;
        display: block;
        width: auto;
        overflow: auto;
    }

    .closed-nav {
        display: none;
    }

    .nav-icon {
        margin: 0;
        width: 18px;
        display: block;

        -webkit-user-select: none;      
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .close-icon {
        margin: 0;
        width: 18px;
        display: block;

        -webkit-user-select: none;      
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hidden-nav-icon {
        display: none;
    }
}