@use '../styles/variables';

$loader-size: 40px;

.loader {
    border: 12px solid #ffffff;
    border-top: 12px solid variables.$iups-dark-yellow;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
    animation: spin 0.5s linear infinite;
    -webkit-animation: spin 0.5s linear infinite;
    z-index: 1000;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}